.btn {
  &:not(.btn-floating) {
    box-shadow: none;
  }
  &-flat {
    @extend .btn;
    color: $secondary-color;
    &:hover {
      background: transparentize(#cccccc, .6);
    }
    &:focus, &:active {
      background: transparentize(#000000, .88);
    }
  }
  &-fab, &-floating {
    svg {
      vertical-align: middle;
    }
    &.btn-fab-hidden {
      transform: scaleX(0) scaleY(0);
    }
  }
}
